mixin header
	header.wrap
		h2 Adipisicing elit. Quaerat, explicabo dolor
		ul.tw
			+card("icons8.com/upscaler","Smart upscaler")
			.block Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, explicabo dolor.
mixin section-paragraph
	ul
		H1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, labore!

		li Sit amet consectetur adipisicing elit. Minus, ducimus. Rem, corrupti!
		li Consectetur adipisicing elit. Minus, ducimus. Rem, corrupti!
		li Prefix
			span.dsc Dolor sit amet consectetur adipisicing elit. Minus, ducimus. Rem, corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, ducimus. Rem, corrupti!
