doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel='stylesheet' href='css/style.min.css')
		//- meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='viewport' content='“width=device-width,' initial-sca1e='1.0,' maximum-sca1e='1.0,' user-sca1able='0"')
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
	body

		img(src="https://via.placeholder.com/468x60?text=Visit+Blogging.com+Now")

		img(src="http://placehold.it/350")

		a(href="https://placeholder.com")
			img(src="https://via.placeholder.com/150")

		script(type='text/javascript' src="js/scripts.js")