include mixins
include debug-mixin

doctype html
html(lang="ru-RU")
	block head
		head
			+head({
					"title": "1 жовтня 2019",
					"author": "igor",
					"description": "Discover the latest trends in men's fashion and style with ASOS. Shop the range of clothes, accessories, shoes, bags and more."
				})
	body

		#wrapper
			section
				#searcharea
					label(for="search")
						h3 search
						p Enter name or info about
					input(type="search" name="search" id="search" placeholder="name or info")
			section.card
				.div
					//- img.img-svg
					img.img-svg(src="https://simpleicons.org/icons/spotify.svg" alt="spotify")
					a(target="_blank" href="https://caniuse.com") Link
					//- a(target="_blank" href="https://www.adobe.com/products/xd/features.html?promoid=5NHJ8DC6&mv=other") Link
				.div
					img.img-svg(src="img/logo.svg" alt="spotify")
					a.btn button
			section
				#update
			section.copyright © Necessitatibus nobis facere cumque.

		script(src="jquery.js")
		script(src="scripts.js")
		block debug